<div class="index">
<h1>Name:<%=@cat.name%></h1>
  <img src="<%=@cat.photo_url%>">
    <ul style="list-style-type: none;" class="ul-text">
    <li>
      Color: <%= @cat.color %>
    </li>

    <li>
      Gender: <%=@cat.sex %>
    </li>

    <li>
      Description: <%=@cat.blurb %>
    </li>
</div>