<div class= "layout">
  <div class="index">
    <h1><%=@cat.name%></h1>
    <img src="<%=@cat.photo_url%>">

    <ul style="list-style-type: none;" class="ul-text">
      <li>
        Color: <%= @cat.color %>
      </li>

      <li>
        Gender: <%=@cat.sex %>
      </li>

      <li>
        Description: <%=@cat.blurb %>
      </li>
    </ul>
    
     <%= render '/static_pages/form' %>
  </div>
</div>