<div class= "layout">
<div class="show-box">
  <h1><%=@owner.name%></h1>

  <img src= "<%= @owner.photo_url %>" alt="Cat" height="30" width="30">
  
  <ul style="list-style-type: none;" class="us-text">
    <li>
      State: <%= @owner.state %>
    </li>
    <li>
      City: <%= @owner.city %>
    </li>
    <li>
      Saying: <%= @owner.saying %>
    </li>
  </ul>
</div>


  <center><h2 class="white">Owned Cats:</h2></center>
<div class="index">

  <%@owner.cats.each do |cat|%>
  <div class="index-list">
    <ul style="list-style-type: none;">
      <li>
        <p>
          <a href="/cats/<%= cat.id %>"><img src= "<%=cat.photo_url%>" alt="Cat" height="30" width="30"></a>
        </p>
        <a href="/cats/<%=cat.id%>"><%= cat.name %></a>
      </li>
    </ul>
  </div>
  <% end %>
</div>
</div>