<div class= "show-box">
  <h1>Name: <%=@cat.name%></h1>
  <!-- figure out how to add real pic to database -->

  <img src= "<%=@cat.photo_url%>" alt="Cat" height="300" width="300">

  <ul style="list-style-type: none;" class="ul-text">
    <li>
      Color: <%= @cat.color %>
    </li>

    <li>
      Gender: <%=@cat.sex %>
    </li>

    <li>
      Description: <%=@cat.blurb %>
    </li>

    <li>
      Owner: <a href="/owners/<%= @cat.owner_id %>"><%= @cat.owner.name %></a>
      <!-- this has a problem - it breaks for cats without an owner - we should add a validation to require an owner or make this code allow for nil values -->
    </li>
  </ul>
</div>

