<!DOCTYPE html>
<html>
<head>
  <title>Kittinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- navigation bar -->
  <nav class="fixed-nav-bar">
    <div id="menu" class="menu">
      <!-- Example responsive navigation menu  -->
      <ul class="menu-items">
        <li><a href="/">Kittinder</a></li>
        <li><a href="/cats">Cats</a></li>
        <li><a href="/owners">Owners</a></li>
        <li><div align="right" class=""> <% if current_cat %>
          <%= "My Profile:" %>
          <%= link_to current_cat.name, cat_path(current_cat) %> | <%= link_to "Log Out", logout_path %> |
          <% else %>
          Log in with:
          <%= link_to image_tag("http://static.wixstatic.com/media/9199b4_5b866e13d9be4a36844f33bc58f562dc.png", size: "25"), "/auth/twitter" %>
          <%= link_to image_tag("http://jdpirtle.com/images/social_icons/github_white.png", size: "25"), "/auth/github" %> 
          <% end %>
        </div></li>
      </ul>

    </div>
  </nav>


  <%= yield %>

</body>
</html>
