<!DOCTYPE html>
<html>
<head>
  <title>Kittinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- navigation bar -->
  <nav class="fixed-nav-bar">
    <div id="menu" class="menu">
      <!-- Example responsive navigation menu  -->
      <ul class="menu-items">
        <li><a href="/">Home</a></li>
        <li><a href="/cats">Cats</a></li>
        <li><a href="/owners">Owners</a></li>
        <li><div align="right" class=""> <% if current_cat %>
          <%= "Logged in as: #{current_cat.name}" %> | <%= link_to "Log Out", logout_path %> |
          <% else %>
          Log in with:
          <%= link_to image_tag("http://static.wixstatic.com/media/9199b4_5b866e13d9be4a36844f33bc58f562dc.png", size: "25"), "/auth/twitter" %>
          <%= link_to image_tag("http://jdpirtle.com/images/social_icons/github_white.png", size: "25"), "/auth/github" %> 
          <% end %>
        </div></li>
      </ul>

    </div>
  </nav>
  <!-- <ul>
    <% if current_cat %>
      <li>Logged in as: <%= current_cat.name %></li>
    <% else %>      
      <li><a href="/auth/twitter">Log in with twitter</a></li>
      <li><a href="/auth/facebook">Log in with facebook</a></li>
      <li><a href="/auth/github">Log in with /github</a></li>
      <li><a href="/auth/linkedin">Log in with linkedin</a></li>
    <% end %>
  </ul> -->
  <!-- end navigation bar -->

  <%= yield %>

</body>
</html>
